# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# No estoy seguro si esta carpeta se va
.idea/

# Logs
*.log

#File Systems
File System/src/SAC-cli/cmake-build-debug/
File System/src/SAC-servidor/cmake-build-debug/

#Memoria
Memoria/src/libMuse/cmake-build-debug/
Memoria/src/Muse/cmake-build-debug/

#Planificador
Planificador/src/hilolay/cmake-build-debug/
Planificador/src/Suse/cmake-build-debug/

#SharedLibrary
SharedLibrary/cmake-build-debug/

#AltaLibreria
altaLibreria/cmake-build-debug/
altaLibreria/build-dir/
/altaLibreria/build-dir/
/altaLibreria/cmake-build-debug/
/Ejemplos/cliente/cmake-build-debug/
/Ejemplos/servidor/cmake-build-debug/
